.table-cell {
    -fx-alignment: CENTER;
}


.hyperlink {
    -fx-text-fill: #00d0ff;
    -fx-underline: false;
    -fx-border-color: transparent;
}

.hyperlink:hover {
    -fx-underline: true;
}



.tree-table-row-cell:selected *, .table-row-cell:selected * {
    -fx-text-fill: #ffffff;
}

.table-row-cell:selected Text {
    -fx-fill: #ffffff;
}

